/*--------------------
 ABOUT
---------------------*/
.c-question {
    background: url("assets/img/bg_mainabout.jpg") center no-repeat;
    background-size: cover;

    &__about {
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: #fefefe;
        font-feature-settings: "palt" 1;
        @include sp {
            top: 50%;
            transform: translateX(-50%);
        }

        &title {
            font-size: 5rem;
            font-weight: 400;
            line-height: 1;
            font-family: "Franklin Gothic", sans-serif;
            @include sp {
                font-size: 4rem;
            }
        }

        &text {
            font-size: 2.4rem;
            line-height: 1.5;
            letter-spacing: 0.02rem;
            @include sp {
                font-size: 1.8rem;
            }
        }
    }
}

.c-concept {
    padding-bottom: 99px;
    background: url("assets/img/bg_concept.jpg") repeat;
    @include sp {
        padding-bottom: 70px;
    }
   

    &__content {
        margin-top: 55px;
        font-feature-settings: "palt" 1;
    }

    &__ques {
        text-align: center;
        color: #020000;
        margin-bottom: 52px;

        &tiny {
            font-size: 1.8rem;
            line-height: 2.5;
            font-weight: 400;
            margin-left: -3px;
            @include sp {
                font-size: 1.6rem;
            }
        }

        &big {
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 1.2;
            @include sp {
                font-size: 2.2rem;
            }

            span {
                position: relative;
                z-index: 1;
                margin-left: -2px;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 99.2%;
                    height: 15px;
                    transform: translateY(-50%);
                    background-color: #fff568;
                    z-index: -1;
                }
            }
        }
    }

    &__img {
        text-align: center;
        padding-right: 3px;

        img {
            max-width: 695px;
            @include sp {
                max-width: 395px;
                width: 90%;
            }
        }
    }
}

.c-answer {
    &__item {
        max-width: 1360px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include sp {
            width: 94%;
            margin: 0 auto;
            flex-direction: column;
            align-items: stretch;
            align-content: stretch;
        }

        &1 {
            margin-left: auto;
            padding-top: 48px;
            

            &content1 {
                padding-right: 30px;
                @include bp(1460) {
                    padding-left: 20px;
                }
                @include tab {
                    padding-right: 15px;
                }
                @include sp {
                    padding-right: 0;
                }
            }

            img {
                height: 484px;
                object-position: 0;
                @include bp(1460) {
                    height: auto;
                }
                @include sp {
                    height: auto;
                }
            }
        }

        &2 {
            flex-direction: row-reverse;
            margin-right: auto;
            padding-top: 99px;
            @include tab {
                padding-top: 55px;
            }
            @include sp {
                flex-direction: column;
                padding-top: 60px;
            }

            &content2 {
                padding-left: 29px;
                padding-top: 2px;
                @include bp(1460) {
                    padding-right: 20px;
                }
                @include tab {
                    padding-left: 15px;
                }
                @include sp {
                    padding-left: 0;
                }

                span {
                    letter-spacing: 0.01em;
                }
            }

            img {
                height: 537px;
                object-position: -10px;
                @include bp(1460) {
                    height: auto;
                }
                @include sp {
                    height: auto;
                }
            }
        }
    }

    &__content {
        flex: 1;
        font-feature-settings: "palt" 1;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            color: #020000;
            margin-bottom: 17px;
            @include tab {
                font-size: 1.8rem;
            }
        }

        p {
            font-size: 1.5rem;
            color: #020000;
            line-height: 2;
            text-align: justify;
            @include tab {
                font-size: 1.3rem;
            }
        }
    }

    &__img {
        max-width: 950px;
        margin-top: 2px;
        @include bp(1460) {
            max-width: 62%;
        }
        @include sp {
            margin-top: 15px;
        }
    }
}

.c-operating {
    padding-bottom: 100px;
    @include sp {
        padding-bottom: 50px;
    }

    &__content {
        padding: 140px 0 56px;
        text-align: center;
        @include sp {
            padding: 80px 0 46px;
        }

        &title {
            position: relative;
            font-size: 2.6rem;
            font-weight: 700;
            color: #020000;
            padding: 37px 0 39px;
            @include sp {
                font-size: 1.8rem;
            }

            &::before {
                position: absolute;
                top: 0;
                right: 4px;
                left: 0;
                width: 100%;
                max-width: 480px;
                height: 100%;
                max-height: 25px;
                margin: 0 auto;
                background-image: url("assets/img/img_opetittop.png");
                background-size: 100%;
                background-repeat: no-repeat;
                content: "";
                @include sp {
                    width: 85%;
                }
            }

            &::after {
                position: absolute;
                right: 4px;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: 480px;
                height: 100%;
                max-height: 25px;
                margin: 0 auto;
                background-image: url("assets/img/img_opetitbot.png");
                background-size: 100%;
                background-repeat: no-repeat;
                content: "";
                @include sp {
                    width: 85%;
                    bottom: -10px;
                }
            }
        }
    }

    &__wrapper {
        dl {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 29px 0 27px;
            border-bottom: 1px solid #ccc;
            font-feature-settings: "palt" 1;

            @include sp {
                flex-direction: column;
                padding: 20px 0;
            }

            &:nth-child(1) {
                border-top: 1px solid #ccc;
            } 

            &:nth-child(5) {
                padding-bottom: 23px;

                dd {
                    line-height: 1.85;
                    margin-top: -6px;
                }
            }

            &:nth-child(6) {
                padding-bottom: 23px;

                dd {
                    line-height: 1.9;
                    margin-top: -7px;
                }
            }

            &:nth-child(7) {
                padding-bottom: 24px;

                dd {
                    line-height: 1.85;
                    margin-top: -5px;
                }
            }
        }

        dt {
            font-size: 1.6rem;
            font-weight: 700;
            color: #020000;
            min-width: 160px;
            @include sp {
                margin-bottom: 10px;

                
            }
        }

        dd {
            font-size: 1.6rem;
            font-weight: 400;
            color: #020000;
            margin-top: -4px;
            line-height: 1.5;

            a {
                color: #00a99d;
            }
        }
    }
}
/*--------------------
---------------------*/
