.c-pickup {
    width: 100%;
    padding: 50px 0 98px;
    overflow: hidden;
    background: url("/assets/img/bg_pickup.jpg");
    @include sp {
        padding: 34px 0 76px;
    }

    &__box {
        margin-top: 60px;
        @include sp {
            margin-top: 35px;
        };

        &item {
            margin: 0 7.5px;
            background: #fff;
            width: 329px;
            font-feature-settings: "palt" 1;
            @include sp {
                width: 165px;
            }
        }

        &link {
            display: block;
            text-decoration: none;
        }

        &img {
            position: relative;

            img { 
                height: 220px;
                @include sp {
                    height: 110px;
                }
            }
        }

        &name {
            font-size: 1.5rem;
            font-weight: 700;
            background: #fff;
            color: #00ada0;
            position: absolute;
            right: 0;
            bottom: -1px;
            padding: 8px 10px;
            @include sp {
                font-size: 1.2rem;
                padding: 5px 10px 6px;
            }

            &2 {
                padding: 7px 7px 8px 10px;
            }

            &3 {
                padding: 8px 6px 8px 10px;
            }

            &6 {
                padding: 7px 12px 9px 10px;
            }

            &7 {
                padding: 8px 9px 8px 10px;
            }
        }

        &desc {
            min-height: 107px;
            padding: 10px;
            @include sp {
                min-height: 105px;
                padding: 12px 9px;
            }

            &1 {
                padding: 9px 10px 10px;
                @include sp {
                    padding: 3px 6px;
                }
            }    

            &2 {
                padding: 9px 10px 10px 11px;
                @include sp {
                    padding-bottom: 8px;
                }
            }

            &3 {
                padding: 9px 10px 10px 12px;
            }

            &4 {
                padding: 9px 10px 10px 12px;
            }

            &5 {
                padding: 8px 10px 10px;
            }

            &6 {
                padding: 8px 7px;
            }

            &7 {
                padding: 9px 10px;
            }

            &long {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.55;
                @include sp {
                    font-size: 1.2rem;
                    line-height: 1.5;
                    letter-spacing: -0.02em;
                }
            }

            &short {
                font-size: 1.4rem;
                margin-top: 10px;
                line-height: 1.4;
                color: #000;
                @include sp {
                    font-size: 1.1rem;
                    margin-top: 3px;
                }

                &2 {
                    margin: 12px 0 9px;
                }

                &3 {
                    margin: 12px 0 0 -1px;
                }

                &4 {
                    margin-top: 12px;
                }   

                &6 {
                    margin-top: 12px;
                }

                &7 {
                    margin-top: 12px;
                }
            }
        }
    }   
}

.slick-dots {
    position: absolute;
    left: 49.1%;
    bottom: 1px;
    transform: translate(-50%, 54px);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    @include sp {
        transform: translate(-54%, 35px);
        gap: 0 0.6px;
    }
}

.slick-dots {
    button {
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        outline: none;
        transition: all 0.2s linear;
        padding: 0;
        margin: auto;
        border: 0;
        display: block;
        @include sp {
            width: 7px;
            height: 7px;
        }

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    li {
        width: 20px;
        height: 20px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include sp {
            width: 14px;
            height: 14px;
        }
    }
}

.slick-dots .slick-active button {
    background-color: #000;
}

.slick-dots .slick-active {
    border: 1px solid #000;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: all 0.2s linear;
    @include sp {
        display: none !important;
    }
}

.slick-arrow:hover {
    cursor: pointer;
    opacity: 0.7;
}


.slick-prev {
    left: 2.7%;
    padding: 0;
    border: 0;
}

.slick-next {
    right: 2.6%;
    padding: 0;
    border: 0;
}


