
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    {{ meta }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= (typeof title != "undefined" ? title : "Page title") %>
    </title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="assets/img/icon_web.png">
    {{ head }}
  </head>
  <body>

    <%- include('_partials/header'); -%>

    {{ content }}

    <%- include('_partials/footer'); -%>

    <script type="module" src="/_scss/style.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {{ script }}
    <script src="/assets/js/openmenu.js"></script>
    <script src="/assets/js/backtotop.js"></script>
  </body>

</html>
